<!DOCTYPE html>
<html lang="en">
<head>
    <title>sahem</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!--For size to be consistent across all platform devices-->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	

</head>
<!-- The scrollable area -->
<body>
	<!-- Section 1 -->
	<div id="home" class="container-fluid" style="background:transparent url('test.jpg')no-repeat center center ;background-size: cover;background-position: center;">
  <p class="landingPagePar">Exactly What you Need</p>
	  <h1 class="title">Welcome to Sahem</h1>
	  <!-- search engine code from https://bootsnipp.com/snippets/featured/stylish-input-using-icon-font -->
	  <div class="row">
	          <div class="col-sm-6 col-sm-offset-3">
	              <div id="imaginary_container"> 
	                  <div class="input-group stylish-input-group">
	                      <input type="text" class="form-control"  placeholder="Search an Item" >
	                      <span class="input-group-addon">
	                          <button type="submit">
	                              <span class="glyphicon glyphicon-search"></span>
	                          </button>  
	                      </span>
	                  </div>
	              </div>
	          </div>
	  	</div>

<div class="carousel-caption">		
	<a class="btn btn-primary btn-lg js-scroll-trigger" href="#about">Upload Item</a>
	<a class="btn btn-primary btn-lg js-scroll-trigger" href="#about">Learn More</a>		
</div>
	  
	</div>
	
	<div id="items" class="container-fluid">
	  <h1 class="aboutTitle">About Us</h1>
	  <hr class="hr1">
	  <p class ="aboutPar">Sahem facilitates borrowing and lending items in Qatar. If you have stuff you don't need and can use the money or if you need to borrow items for a short time, this is the website for you!</p>

</div>
	
  
	  
	  <section id="services">
	        <div id ="about" class="container-fluid">
	          <div class="row">
	            <div class="col-lg-12 text-center">
	              <h2 class="section-heading">We value</h2>
				   <hr class="hr2">
	              <hr class="primary">
	            </div>
	          </div>
	        </div>
	        <div class="container">
	          <div class="row">
	            <div class="col-lg-3 col-md-6 text-center">
	              <div class="service-box">
	                <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
	                <h3>Experience surpasses owning</h3>
	                <p class="text-muted">Have access to high quality stuff you can’t afford.</p>
	              </div>
	            </div>
				<div class="col-lg-3 col-md-6 text-center">
				            <div class="service-box">
				              <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
				              <h3>Ready to Ship</h3>
				              <p class="text-muted">You can use this theme as is, or you can make changes!</p>
				            </div>
				          </div>
				          <div class="col-lg-3 col-md-6 text-center">
				            <div class="service-box">			
  							  <i class="fa fa fa-4x fa-leaf text-primary sr-icons"></i>				  
				              <h3>Up to Date</h3>
				              <p class="text-muted">You can use this theme as is, or you can make changes!</p>
							  
				            </div>
				          </div>
				          <div class="col-lg-3 col-md-6 text-center">
				            <div class="service-box">
				              <i class="fa fa fa-4x fa-money text-primary sr-icons"></i>
				              <h3>Made with Love</h3>
				              <p class="text-muted">You have to make your websites with love these days!</p>
				            </div>
				          </div>
			</div>
		</div>
	</section>

  	</div>
	
   	<div id="contact" class="container-fluid">
   	  <h1>Contact Us</h1>
   	  <p>Try to scroll this page and look at the navigation bar while scrolling!</p>
	</div>
	
	
</body>
</html>
