<html>
  <title> Login </title>

    <body style="background-color:#ffffff">
    <div class="container" style="background-color:#ffffff"> 
    <!--<div class="container" style="background-color:#ffffff"> -->

<!--https://www.w3schools.com/bootstrap/bootstrap_forms_inputs.asp (form)-->
    <br> <!-- for nav bar !-->
    <br>
    <br>
    <h1> Login </h1>
  <form role="form">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" class="form-control" />
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" class="form-control" />
    </div>

  <!--<input type="submit" value="Login" />-->
  <!--<input type="button" value="Cancel" />-->
  <!--https://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_button_styles&stacked=h (buttons)-->
        <button type="submit" class="btn btn-default">Login</button>
        <button type="button" class="btn btn-default">Cancel</button>
        
  </form>
    </div>
    </body>
</html>
